*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Raleway, sans-serif;
}

/* ширина 100%, что означает всю доступную ширину родителя,
а ширина родителя автоматически вычисляется по контенту.
но ограничиваем размер на случай больших экранов,
выравниваем по горизонтали */
.page {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

img {
  width: 100%;
}
