body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 109px;
  margin: 92px 51px 92px 51px;
}

.header__menu {
  width: 388px;
  height: 23px;
}

.header__links-list {
  display: flex;
  height: 23px;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: 0px;
}

.header__logo {
  display: block;
  position: relative;
  width: 148px;
  height: 105px;
  left: -75px;
  top: -2px;
}

.header__logo-image {
  height: 100%;
}

.address {
  grid-column: -1/-3;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  /* height: 355px; */
  margin: 165px 50px auto 50px;
  flex-direction: column;
  gap: 20px;
  /* padding: 184px 50px 0px 50px; */
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
  letter-spacing: 30px;
  line-height: 1.15; /* 100px */
  height: 115px;
}

.aligned-text_center {
  height: 100px;
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  height: 100px;
  text-align: right;
  line-height: 1;
}

.cover__title-accent {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 50px;  
  justify-content: flex-end;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.cover__description-text span {
  word-spacing: 22px;
}

.bet-button {
  width: 257px;
  height: 52px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots {
  position: relative;
  min-height: 579px;
  margin: 180px 50px 0 50px;
}

.lots__heading {
  display: block;
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  position: absolute;
  top: 74px;
  display: flex;
  justify-content: space-between;
  height: 450px;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
}
.card_type_film {
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
}

.card__title {
  /* display: block;
  position: absolute;
  top: 0px;
  left: 40px; */
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  /* display: block;
  position: absolute;
  inset: auto 40px 50px 40px; */
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2; /* 24px */
}

.lots__look-more-link {
  display: block;
  position: absolute;
  left: 40px;
  bottom: 0;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.about {
  width: 1340px;
  height: 487px;
  margin: 181px 50px 90px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.logo__column {
  padding: 0 95px;
}

.about__logo{
  position: relative; 
  width: 240px;
  height: 240px;
  padding: 63px 46px;
  background-color: #000;
  border-radius: 50%;
  z-index: 0;
}

.about__column {
  padding: 100px 0 0 0;
}

.about__title {
  padding-bottom: 75px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  padding-top: 25px;
}

.footer {
  margin: 180px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  width: 149px;
  height: 64px;
}

.footer__menu-list{
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list-item {
  height: 100%;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: 0px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style-type: none;
}

.footer__social-list-item {
  height: 100%;
}

.footer__social-link {
  display: block;
  height: 100%;
}

.footer__social-icon {
  height: 100%;
}
